.div1 {
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5%;
}

.div2 {
  background-color: rgba(185, 185, 185, 0.39);
  border-radius: 50%;
  max-height: 20vw;
  max-width: 20vw;
  min-height: 20vw;
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  width: 100%;
  padding-left: 5vw;
}

.div2 h1 {
  font-size: 8vw;
}

.div3 h2 {
  font-size: 6vw;
  margin-bottom: 1vw;
}
.div3 h4 {
  font-size: 5vw;
  font-weight: 200;
  margin-top: 0px;
}

.buttons {
  margin-top: 20px;
}

.containerBack {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10vh;
}

.botonBack {
  display: flex;
  font-size: 3vw;
  height: 10vw;
  width: 25%;
  background-color: transparent;
  align-items: center;
  border: 0.15rem solid #2b6c78;
  border-radius: 2rem;
  margin: 0 8% 8% 0;
  padding-left: 4vw;
}
