.boton {
  display: flex;
  height: 10vh;
  max-height: 40px !important;
  width: 85vw;
  background-color: transparent;
  align-items: center;
  justify-content: flex-start;
  border: 0.15rem solid #2b6c78;
  border-radius: 2rem;
  margin: 0 auto;
  padding-left: 5vw;
  margin-top: 3vh;
}

.boton h3 {
  font-size: 18px;
  font-weight: 300;
  padding-left: 5vw;
  text-align: start;

  width: 100%;
}
