.containerShareDown {
  display: flex;
  width: 25vw;
  justify-content: left;
  background-color: transparent;
  align-items: center;
  position: fixed;
  z-index: 998;
  bottom: 5vh;
  left: 8vw;
}
