.boton {
  display: flex;
  height: 10vw;
  width: 85vw;
  background-color: transparent;
  align-items: center;
  border: 0.15rem solid #2b6c78;
  border-radius: 2rem;
  margin: 0 auto;
  padding-left: 5vw;
  margin-top: 5vw;
}

.boton h3 {
  font-size: 4vw;
  padding-left: 5vw;
}
