.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 25vw;
  width: 80vw;
}

.containerFooter {
  display: flex;

  width: 80vw;
  margin: 0 auto;
}

.buttonPink {
  width: 10vw;
  height: 10vw;
  border-color: transparent;
  border-radius: 50%;
  background-color: #c0a4c8;
}
