.containerAdd {
  display: flex;
  width: 25vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 998;
  bottom: 3.5vh;
  background-color: #7aafb9;
  border-radius: 2rem;
  right: 35vw;
}

.botonAdd {
  display: flex;
  font-size: 3vw;
  color: white;
  height: 10vw;
  text-align: center;
  display :flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  border: 0.15rem solid transparent;
  border-radius: 2rem;
  justify-content: center;
}

.botonAdd:disabled {
  background-color: #c7c7c7b2;
  color: rgb(128, 128, 128);
}
