.box{
    max-width: 100vw;
    height: 120px;
    background-color: #7AAFB9;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.div{
    background-color: transparent;

     width: 100%;
    height: 120px;

}

.logo {
   display: flex;
   align-items: center;
   justify-content: right;
  
}