@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
body {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito";
}



.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 10vh;
  width: 80vw;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Nunito";
  margin: 0 auto;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 6vw;
}

h4 {
  font-size: 5vw;
  font-weight: 200;
}

.swiper-pagination {
  background-color: transparent !important;
}

.swiper-pagination-bullet {
  background-color: #6b6954 !important;
  width: 2vh !important;
  height: 2vh !important;
}

input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}