.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px !important;
  margin: 0 auto;
  height: 25vw;
  width: 80vw;
}

.mainComp {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  z-index: 999;
  height: 90%;
  min-width: 100%;
  max-width: 100%;
  background-color: #b08dba50;
  box-shadow: 0px 1vh 2vh #00000025;
  border-radius: 10%;
  border: 0.5px rgba(255, 255, 255, 0) solid;
}

.cuboComp {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3%;
  height: 80%;
  width: 80%;
  border-radius: 15%;
}

.imagenComp {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 100%;
}
