.ContainerDiv {
  max-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Vector2 {
  position: absolute;
  top: 7%;
  width: 100vw;
}
.Vector1 {
  position: absolute;
  width: 98vw;
  left: 0;
}
.Vector6 {
  top: 5;
  position: absolute;
  width: 100vw;
}
.LogoLogin {
  height: auto;
  width: 29vw;
  align-self: center;
  margin-top: 35%;
}
.Input {
  height: 49px;
  border-width: 0;
  width: 264px;
  left: 63px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 75px;
  z-index: 1;
  font-family: "Nunito";
  font-size: 15px;
  padding-left: 15px;
}
.Bienvenide {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: #15353b;
}
.DNI {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 24px;

  /* identical to box height */

  /* Letra general */

  color: #252828;
}
.botonn {
  margin-top: 10%;
  z-index: 1000;
}
.footer {
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  top: 90%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* letra secundaria */
  color: #15353b;
}

/* Start */

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader {
  height: 100px;
  position: absolute;
  width: 100px;
  background-color: #2b6c78;
  animation: loading 2s ease-in-out;
  z-index: 999;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.grow {
  height: 100px;
  position: absolute;
  width: 100px;
  background-color: #2b6c78;
  animation: fadein 6s ease-in-out 2s;
  z-index: 999;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.logo {
  position: absolute;
  z-index: 998;
}

@keyframes loading {
  0% {
    opacity: 1;
    height: 100px;
    width: 100px;
  }

  25% {
    opacity: 0;
    height: 150px;
    width: 150px;
  }
  26% {
    opacity: 1;
    height: 100px;
    width: 100px;
  }

  50% {
    opacity: 0;
    height: 150px;
    width: 150px;
  }
  51% {
    opacity: 1;
    height: 100px;
    width: 100px;
  }

  75% {
    opacity: 0;
    height: 150px;
    width: 150px;
  }
  76% {
    opacity: 1;
    height: 100px;
    width: 100px;
  }

  100% {
    opacity: 0;
    height: 150px;
    width: 150px;
  }
}

@keyframes fadein {
  0% {
    height: 100px;
    width: 100px;
  }

  100% {
    margin-left: -2000px;
    margin-right: -2000px;

    width: 4000px;
    height: 4000px;
  }
}

.whi {
  position: absolute;
  top: -100vh;
  animation: down 2s ease-in-out 4s;
  animation-fill-mode: forwards;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgb(188, 188, 188);
}

@keyframes down {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}

.offPop {
  position: absolute;
  top: -20vh;
  z-index: 10000;
}

.onPop {
  position: absolute;
  top: 3%;
  animation: pop 1s ease-in-out;
  z-index: 10000;
}

@keyframes pop {
  0% {
    top: -10vh;
  }

  50% {
    top: 5%;
  }

  100% {
    top: 3%;
  }
}

.DContainerDiv {
  max-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VectorD1 {
  width: 12%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 0;
}
.VectorD2 {
  width: 72%;
  position: absolute;
  left: 20%;
  top: 0%;
  z-index: 0;
}
.VectorD3 {
  width: 69%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 0;
}
.VectorD4 {
  width: 24%;
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: 5;
}
.VectorD5 {
  width: 18%;
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: 0;
}

.DLogoLogin {
  height: auto;
  width: 6.5vw;
  align-self: center;
  margin-top: 10%;
  z-index: 9;
}
.DInput {
  height: 40px;
  border-width: 0;
  width: 224px;
  left: 63px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 75px;
  z-index: 1000;
  font-family: "Nunito";
  font-size: 15px;
  padding-left: 15px;
}
.DBienvenide {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #15353b;
}
.DDNI {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2%;
  /* identical to box height */

  /* Letra general */

  color: #252828;
}
.Dbotonn {
  margin-top: 2%;
  z-index: 1000;
}
.Dfooter {
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  top: 90%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* letra secundaria */
  color: #15353b;
}

/* Start */

.Dcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Dloader {
  height: 100px;
  position: absolute;
  width: 100px;
  background-color: #2b6c78;
  animation: loading 2s ease-in-out;
  z-index: 999;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.Dgrow {
  height: 100px;
  position: absolute;
  width: 100px;
  background-color: #2b6c78;
  animation: fadein 6s ease-in-out 2s;
  z-index: 999;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.Dlogo {
  position: absolute;
  z-index: 998;
}
