.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px !important;
  margin: 0 auto;
  height: 25vw;
  width: 80vw;
}

.containerPhotoMain {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  z-index: 999;
  height: 100%;
  width: 100%;
}

.containerPhoto {
  display: flex;
  padding-top: 4%;
  z-index: 999;
  height: 40%;
  width: 100%;
}

.img2 {
  height: auto !important;
  margin: 5% auto;
  width: 40% !important;
  border-radius: 50%;
}

.Photo {
  display: flex;
  flex-direction: column;
}

.Photo img {
  width: 78% !important;
  height: 100% !important;
}
