.containerAddConsultaMob {
  height: 100vh;
  width: 100vw;
}

.Paciente2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;

  /* Letra general */

  color: #252828;
}
.Paciente3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 1vw;

  /* or 100% */

  color: #3e9aab;
}
.CircleName {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6vw;
  line-height: 49px;
  display: flex;

  letter-spacing: 0.125em;

  text-align: right;
  color: #15353b;
}
.tramiteBotonContainer {
  max-width: 30vw;
  padding-left: 2vw;
}
.CliniCard {
  background: rgba(199, 240, 247, 0.29);
  /* sombra */
  margin-left: 8%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 32.3922px;
  min-height: 52vh !important;
  max-height: 52vh !important;

  max-width: 28%;
  height: 52vh !important;
  width: 29%;

  border-radius: 32.392215728759766px;
  overflow-y: scroll;
}

.AddContainMob{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.AddForm1Mob{
  max-width:23vw;
  max-height:58vh;
  width:30vw;
  height:60vh;
  background-color: rgba(199, 240, 247, 0.29);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 32.3922px;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.AddFormTitle1Mob{
  font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 3.2vh;
line-height: 16px;
color: #252828;
text-align: start;
padding-left: 10%;
width: 100%;
}
.AddFormMob{
  width:90vw;
  max-height:55vh;

  height:60vh;
  background-color: rgba(199, 240, 247, 0.29);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 32.3922px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.AddFormRowMob{
  display: flex;
  flex-direction: column;
  background-color: transparent;

  justify-content: flex-start;
}
.AddFormFotoRowMob{
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color:transparent;
  align-items: center;
padding-left: 5% ;
  
 

}
.AddFormTitleMob{
  font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 3.5vh;
line-height: 16px;
color: #252828;
text-align: start;
padding-left: 10%;
width: 100%;
}
.AddFormInputMob{
  border-width: 0;
  background-color: transparent;
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 2vh;
margin-top: 8px;
padding-left: 10%;
height: 50px;
}
.AddFormInputMob::-webkit-scrollbar {
  display: none;
}